@import '../styles/mixins';
//@import '../styles/variables';

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  max-height: 8vh;
}
.menu-item {
  respond-between(sm,lg) {
  line-height: 9vh;
}
}

.rounded-border {
  border-radius: 20px !important;
}
.limited-width {
  max-width: 20vw;
  @include mobile() {
    max-width: 35vw;
  }
}
.hidden-mobile {
  @include mobile() {
    display: none;
  }
}

.menuOption {
  @include mobile() {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.menuOptText {
  @include mobile() {
    display: none;
  }
}

.menuOptIcon {
  @include mobile() {
    margin-right: 1px !important; //this are needed cause we need to override the Ant Library
  }
  &.sectionIcon {
    @include desktop() {
      display: none !important;
    }
    @include respond-between(sm, lg) {
      display: none !important;
    }
  }
}
